// Colors
$red: #B30838;
$black: #252729;
$white: #FFFFFF;

// Breakpoints
$bp-xs-min: 320px;
$bp-xs2-min: 375px;
$bp-xs3-min: 480px;
$bp-sm-min: 768px;
$bp-md-min: 992px;
$bp-md1-min: 1035px;
$bp-md2-min: 1200px;
$bp-lg-min: 1320px;
$bp-xlg-min: 1320px;
$bp-xxlg-min: 1440px;
